.user-create-form{
    display: flex;
     flex-direction: column;
    align-items: center;
    max-width:400px;
    position:relative;
    background-color: #bbded6;
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-shadow: 2px 2px 2px 2px #616161;
    margin-left: auto;
    margin-right: auto;
    .user-create-form__title{
        margin-top:0px;
        font-size: 25px;
        font-weight: bold;
    }

    .user-create-form__input-label{
        width:300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 10px;
        .user-create-form__email-input,
        .user-create-form__password-input,
        .user-create-form__repeat-password-input
        {
            
            margin-top:auto;
            margin-bottom: auto;
        }
        .user-login-form__show-pass{
            background-image: url('/assets/eye.png');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 0px;
            width:30px;
            height:30px;
        }
    }
    .user-create-form__buttons{
        margin-top:30px;
        
        .user-create-form__create-button,
        .user-create-form__back-button{
            margin:10px;
        }
        
        
    }

    :invalid, .uncorrect{
        background-color: #ffa5a9;
        animation-duration: 0.5s;
        animation-name: fade;
    }
      
    @keyframes fade{
        from{
          background-color: white;
        }
        to{
          background-color: #ffa5a9;
        }
    }

    .user-create-form__user-created-message_invisible{
      display: none;
      justify-content: center;
      align-items: center;
      position:absolute;
      height:100%;
      width:100%;
      background-color: rgba(255,255,255,0.7); 
    }

    .user-create-form__user-exist-message_invisible{
      display: none;
      justify-content: center;
      align-items: center;
      position:absolute;
      height:100%;
      width:100%;
      background-color: #ffa5a9;
    }

    .user-create-form__user-created-message_invisible.show{
      display: flex;
      animation-duration: 2s;
      animation-name: fadeIn;
      animation-delay: 0s;
    }
    .user-create-form__user-exist-message_invisible.show{
      display: flex;
      animation-duration: 2s;
      animation-name: fadeIn, fadeOut;
      animation-delay: 0s, 1s;
    }


      @keyframes fadeIn{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
     }

     @keyframes fadeOut{
      0%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
     }
}