<div class="event-edit-form">
    <h1 class = "event-edit-form__title">Edit Event</h1>
    <label class = "event-edit-form__label">Time From
      <input
      class = "event-edit-form__time-from form-input"
      type = "time"
      [(ngModel)]= "timeFrom"
      #timeFromInput = 'ngModel'
      [class.uncorrect] = "timeFromInput.touched && timeFromInput.invalid"
      required>
    </label>

    <label class = "event-edit-form__label">Time To
       <input 
       type = "time"
       class = "event-edit-form__time-to form-input"
       [(ngModel)]= "timeTo"
       #timeToInput = 'ngModel'
       [class.uncorrect] = "timeToInput.touched && timeToInput.invalid"
       required>
     </label>

    <label class = "event-edit-form__label">Title 
      <input
      type = "text"
      class="event-edit-form__event-title form-input"
      #titleInput ="ngModel"
      [(ngModel)]= "title"
      [class.uncorrect] = "titleInput.touched && titleInput.invalid"
      maxlength = "32"
      required
      >
    </label>

    <label class = "event-edit-form__label textarea">Comment 
      <textarea 
      class="event-edit-form__comment form-textarea" 
      rows = "4"
      [(ngModel)]= "comment"
      required>
      </textarea>
    </label>

    <h2 class = "event-edit-form__title">Invented users</h2>
    <div class="event-edit-form__percipitians">
      <ul class="event-edit-form__percipitians-list">
      <li class="event-edit-form__percipitians-list-item"
        style="list-style: none;" 
        *ngFor = "let item of invitedUsers"
        >{{item.name}} ({{item.email}})
          <button class="event-edit-form__percipitians-delete-button"
          (click) = "preDeleteUser(item)"
          >X</button>
      </li>
      </ul>
    </div>

    <form action="formdata"
          method="post" 
          name="participants-list"
          class = "event-edit-form__registrated-users">
      <h2 class = "event-edit-form__title">Select participants</h2>
      <select name="list1"
              class = "event-edit-form__registrated-users-list"
              multiple>
           <option *ngFor="let item of registratedUsers; index as i"
                   (click) = "preAdd(i)"
                   class = "event-edit-form__registrated-users-list-item"
                   >{{item.name}} ({{item.email}})</option>
      </select>
    </form>
    
    <h3 class = "event-edit-form__priority-form-title">Priority</h3>
    <div class = "event-edit-form__priority-form-radiobuttons">
      <label class = "event-edit-form__priority-form-radiobuttons-label">High
        <input
        type = "radio"
        name="priority"
        value="high"
        [(ngModel)]= "priority"
        [checked]="priority==='high'"
        >
        
      </label>
      
      <label class = "event-edit-form__priority-form-radiobuttons-label">Normal
        <input type = "radio"
        name="priority"
        value="normal"
        [(ngModel)]= "priority"
        [checked]="priority==='normal'"
        >
      </label>
      
      <label class = "event-edit-form__priority-form-radiobuttons-label">Low
        <input
        type = "radio"
        name="priority"
        value="low"
        [(ngModel)]= "priority"
        [checked]="priority==='high'"
        >
      </label>
    </div>
    
    <div class = "event-edit-form__button-block">
      <button type="submit"
              class = "event-edit-form__button-submit" 
              (click)="saveEvent()"
              [disabled]="timeFromInput.invalid || timeToInput.invalid || titleInput.invalid"
      >Save</button>
      <button class = "event-edit-form__button-back" 
              (click)="goBack()"
      >Back</button>
    </div> 
    <div class = "event-edit-form__event-edited-message_invisible" 
    [class.show] = "addedMessage === true">
      <h2 class = "event-edit-form__title">Event Edited</h2>
    </div>   
</div>  