*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .week-panel{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-around;
    background-color:#bbded6;
    .weekday{
        width:200px;
        min-width:50px;
        text-align: center;
        .weekday-name{
            font-size: 20px;
            border:1px solid#8ac6d1;
            padding:10px 3px;
             overflow: hidden;
             @media(max-width:500px){
                font-size: 12px;
             }
          }
      
      }  
  }
  
  .days-panel{
      display: grid;
      grid-gap: 0px;
      height: 600px;
      max-width:1200px;
      grid-template-columns: auto auto auto auto auto auto auto;
      margin-left:auto;
      margin-right:auto;
      .day{
        height:100px;
        position:relative;
        
      }
      .day-number{
        position:absolute;
        font-size: 35px;
        right:5px;
      }
  }
  
  a.day{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    z-index:100;
  }
  
  .events-name{
    position:absolute;
    bottom:45px;
    left:2%;
  }

  .events-panel{
    position:absolute;
    height:40px;
    bottom:0px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    .events-container{
        margin:2%;
        width:20%;
        height:50%;
        background-color: #696969;
    }
}