<div class="buttons-panel">
    <div class="switcher-coruasel month">
     <button class="switcher left" (click) = "leftMonthSwither()"><</button>
     <div class="month">{{currentMonthName}}</div>
     <button class="switcher right" (click) = "rightMonthSwither()">></button>
 </div>
 
 <div class="switcher-coruasel year">
     <button class="switcher left" (click) = "leftYearSwither()"><</button>
     <div class="year">{{currentYear}}</div>
     <button class="switcher right" (click) = "rightYearSwither()">></button>
 </div>
     <button class="current-month" (click) = "currentMonthSwitcher()">Current month</button>
 </div>