<div class="buttons-panel">
 <div class="switcher-carousel month-switcher">
     <button class="switcher-carousel__left-switcher" (click) = "leftMonthSwither()"><</button>
     <div class="switcher-carousel__label month-label" >{{currentMonthName}}</div>
     <button class="switcher-carousel__right-switcher" (click) = "rightMonthSwither()">></button>
 </div>
 
 <div class="switcher-carousel year-switcher">
     <button class="switcher-carousel__left-switcher" (click) = "leftYearSwither()"><</button>
     <div class="switcher-carousel__label year-label">{{currentYear}}</div>
     <button class="switcher-carousel__right-switcher" (click) = "rightYearSwither()">></button>
 </div>
     <button class="buttons-panel__current-month button" (click) = "currentMonthSwitcher()">Current Month</button>
     <button class="buttons-panel__events-list button" (click) = "navigateToMainList()">Events List</button>
 </div>

 <app-shedule-panel [currentYear]='currentYear' [currentMonthNumber]='currentMonthNumber'></app-shedule-panel>