.buttons-panel{
    display:flex;
    flex-wrap: wrap;
    max-width:1200px;
    justify-content: start;
    margin: 5px auto;
    font-size: 20px;
    
    .switcher-carousel{
        display: flex;
        justify-content: flex-start;
        height:50px;
        border:1px solid lightgrey;
        .switcher-carousel__label{
            width: 80%;
        }
        .switcher-carousel__left-switcher,.switcher-carousel__right-switcher{
            width:10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .month-label,.year-label{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .year-switcher,.month-switcher{
        width:130px;
        margin:5px 20px;
    }
    .button{
        margin-left: 50px;
        height:50px;
        margin:5px 20px;
        font-size: 20px;
    }
}

