.single-event{
    display:flex;
    justify-content: space-around;
    border: 1px solid #616161;
    flex: 1;
    button{
      width:80px;
    }
  }

  .high {
    background-color: #ffb6b9;
  }
  
  .normal {
    background-color: #FFF5C3;
  }
  
  .low {
    background-color: #D3E397;
  }