.single-event{
    display:flex;
    justify-content: flex-start;
    border: 1px solid #616161;
    min-height: 40px;
    margin-top: 5px;
    .title{
      margin: auto 0px;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
    }
    .single-event__time-from-title{
      width: 25%;
    }
    .single-event__time-to-title{
      width: 25%;
    }
    .single-event__event-title-title{
      width: 25%;
      overflow: hidden;
    }

    .single-event-button-block{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 25%;
    }

   .button{
      margin:5px;
      padding-left: auto;
      text-overflow: clip;
      max-width: 100%;
   }
   
  }

  .high {
    background-color: #ffb6b9;
  }
  
  .normal {
    background-color: #FFF5C3;
  }
  
  .low {
    background-color: #D3E397;
  }