<div class = "single-event"
[class.high]="singleEvent.priority==='high'"
[class.normal]="singleEvent.priority==='normal'"
[class.low]="singleEvent.priority==='low'"
>

  <p class="single-event__time-from-title title">
  {{singleEvent.timeFrom}}
  </p>
  <p class = "single-event__time-to-title title">
  {{singleEvent.timeTo}}
  </p>
  <p class = "single-event__event-title-title title">
  {{singleEvent.title}}
  </p>  
  <div class = "single-event-button-block">
    <button (click) = "deleteEvent()" class = "single-event__delete-button button">Delete</button>
    <button (click)="editEventFunc()" class = "single-event__edit-button button">Edit</button>
  </div>  
</div>  