<div class = "user-login-form">

  

    <h2 class = "user-login-form__title">Please, login!</h2>
    <label class = "user-login-form__email-input-label">Email:
      <input 
             class = "user-login-form__email-input"   
             type="email"
             placeholder="please, write your email"
             [(ngModel)]="email">
    </label>
    
    <label class = "user-login-form__password-input-label">Password:
      <input 
             [attr.type]="passTextType"
             [(ngModel)]="pass"
             class = "user-login-form__password-input">
      <button class ='user-login-form__show-pass' (click)='showPass()'></button>       
    </label>

    <div class = "user-login-form__buttons">
      <button class = "user-login-form__delete-button" (click) = "login()">Login</button>
      <button class = "user-login-form__registration-button" (click) = "registerNewUser()">Registration</button>
    </div>
    
    <div class = "user-login-form__registered-users-list">
      <h2 class="user-login-form__error-message-title">Registrated users for testing:</h2>
      <p class = "user-login-form__empty-list-message_invisible" *ngIf="!registratedUsers">List unavailable or empty</p>
      <ul class="users-list">
        <li class="single-user" *ngFor="let item of registratedUsers"> <b>User:</b> {{item.email}}   <b>Password:</b> {{item.pass}}</li>
      </ul>
    </div>
    
    <div class = "user-login-form__error-message" 
       [class.show] = "errorMessage === true">
    <h2 class="user-login-form__error-message-title">Uncorrect Login or Password</h2>
  </div>  

</div>   

