.user-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  max-width: 400px;
  position: relative;
  background-color: #bbded6;
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  -webkit-box-shadow: 2px 2px 2px 2px #616161;
          box-shadow: 2px 2px 2px 2px #616161;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.user-login-form .user-login-form__title,
.user-login-form .user-login-form__error-message-title {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.user-login-form .user-login-form__email-input-label,
.user-login-form .user-login-form__password-input-label {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  position: relative;
}

.user-login-form .user-login-form__email-input-label .user-login-form__email-input,
.user-login-form .user-login-form__email-input-label .user-login-form__password-input,
.user-login-form .user-login-form__password-input-label .user-login-form__email-input,
.user-login-form .user-login-form__password-input-label .user-login-form__password-input {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.user-login-form .user-login-form__email-input-label .user-login-form__show-pass,
.user-login-form .user-login-form__password-input-label .user-login-form__show-pass {
  background-image: url("/assets/eye.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
}

.user-login-form .user-login-form__buttons {
  margin: 30px;
}

.user-login-form .user-login-form__buttons .user-login-form__delete-button,
.user-login-form .user-login-form__buttons .user-login-form__registration-button {
  margin: 10px;
}

.user-login-form .user-login-form__error-message {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: rgba(255, 165, 169, 0.7);
}

.user-login-form .user-login-form__error-message .user-login-form__error-message-title {
  top: 50%;
  left: 50%;
}

.user-login-form .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-name: fadeIn, fadeOut;
          animation-name: fadeIn, fadeOut;
  -webkit-animation-delay: 0s, 1s;
          animation-delay: 0s, 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=login.component.css.map */