<div class = "user-login">

    <div class = 'errorMessage' 
        [class.show] = "errorMessage === true">
    <h2 class='error-message__title'>Uncorrect Login or Password</h2>
  </div>  

    <h2>Please, login!</h2>
    <label>Email:<input type="email" placeholder="please, write your email" [(ngModel)]="email"></label>
    <label>Password:<input type="password" [(ngModel)]="pass"></label>
    <div class = "button-block">
    <button (click) = "login()">Login</button>
    <button (click) = "registerNewUser()" >Registration</button>
    </div>
    
    <div class = "registered-users">
      <h2>Registerated users for testing:</h2>
      <p *ngIf="!registratedUsers">List unavailable or empty</p>
      <ul class="users-list">
        <li class="single-user" *ngFor="let item of registratedUsers">User: {{item.email}} Pass: {{item.pass}}</li>
      </ul>
    </div>

</div>   

