.user-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    max-width:400px;
    position:relative;
    background-color: #bbded6;
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-shadow: 2px 2px 2px 2px #616161;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    h2{
        margin-top:30px;
        font-size: 25px;
        font-weight: bold;
    }

    label{
        width:300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        input{
            margin-top:auto;
            margin-bottom: auto;
        }
    }
    .button-block{
        margin:30px;
        button{
            margin:10px;
        }
        
    }

    .errorMessage{
        display:none;
        justify-content: center;
        align-items: center;
        position:absolute;
        height:100%;
        width:100%;
        background-color: rgba(#ffa5a9,0.7);
        .error-message__title{
            top:50%;
            left: 50%;
          }

          
          
      }

      .show{
        display:flex;
        animation-duration: 1s, 1s;
        animation-name: fadeIn, fadeOut;
        animation-delay: 0s, 1s;
      }
      
      
      @keyframes fadeIn{
       0%{
         opacity: 0;
       }
       100%{
         opacity: 1;
       }
      }
      
      @keyframes fadeOut{
       0%{
         opacity: 1;
       }
       100%{
         opacity: 0;
       }
      }  

}