.calendar-panel{
    width:1000px;
    outline:1px solid red;
    

}

.week-panel{
    display:flex;
    width:100%;
    
}

.weekday{
    background-color: blue;
    color:white;
    font-size: 25px;
    font-weight: bold;
    width:100%;
    border:2px solid gray;
    text-align: center;
    

}


.days-panel{
    display: grid;
    grid-gap: 0px;
    height: 1000px;
    width:100%;
    grid-template-columns: auto auto auto auto auto auto auto;

}


.day{
    height:100px;
    width:100px;
    background-color:rgb(204, 204, 204);
    position:relative;
    border-radius:5px;
    box-shadow: 5px 5px 5px 0;
    color: rgb(64, 64, 64);
  }
  
  .day-number{
    
    font-weight:bold;
    font-size:50px;
    position:absolute;
    right:5px;
    top:-50px;
    
    
  }
  
  .events-panel{
    position: absolute;
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    margin:5px;
    
  }
  .events-counter{
    display:flex;
    position: absolute;
    top:20px;
    left:0px;
    
  }
  
  .events-name{
    position:absolute;
    top:-10px;
    text-transform: uppercase;
    font-weight:bold;
    
  }
  
  .event-symbol{
    border-radius:50%;
    height:10px;
    width:10px;
    background-color:red;
    top:15px;
    margin:2px 2px;
  }
  
  .red{
   background-color:rgb(135, 14, 14); 
  }
  
  .green{
    background-color:rgb(4, 79, 9);
  }
  .yellow{
     background-color:rgb(4, 79, 9);
  }
  