<div class="calendar-panel">
    <div class = "week-panel">
        <div class = "weekday" *ngFor="let weekDay of weekDays">
           <p class="weekday-name">{{ weekDay.name }}</p> 
        </div>
    </div>
    <div class= "days-panel">
      
        <div class='day' *ngFor="let day of calendarRebuild()">
            <a [routerLink]="['/day', day.id]" class="day" >
              <p class="day-number" *ngIf = "day.num">
                {{ dayID }}
                {{ day.num }}
              </p>
              <p class="events-name">Events</p>
              <div class="events-panel">
                
                
                  <div class="event-symbol red"></div>
                  <div class="event-symbol green"></div>
                  <div class="event-symbol yellow"></div>
                
              </div>
            </a>
        </div>
    </div>  
</div>    
