*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  .event{
    margin:15px 10px;
    display:flex;
    font-weight:bold;
    justify-content: center;
    background-color: lightgray;
    .time-from{
        width:100px;
    }
    .time-to{
        width:100px;
    }
    .title{
        width:100px;
        overflow: hidden;
    }
  }
  
  .event button{
    margin:0 10px;
  }
  
  .event p{
    margin: 5px 2%;
  }
  
  .high{
    background-color:#ffb6b9;
  }
  
  .normal{
    background-color: #FFF5C3;
  }
  
  .low{
    background-color: #D3E397;
  }
  
  button{
    margin:10px;
    padding:5px;
  }
  
  .example{
    width:350px;
    background-color:red;
  }
  