<div class="events">
  <div
    class="event"
    *ngFor="let event of eventsArray"
    [class.high]="event.priority === 'high'"
  >
    <p>{{event.timeFrom}}</p>
    <p>{{event.timeTo}}</p>
    <p>{{event.title}}</p>
    <p>{{event.priority}}</p>
    <p>{{event.eventId}}</p>
    <button class="delete" >Delete</button>
    <a [routerLink]="['./',event.timeFrom]"><button class="edit" >Edit</button></a>
   
  </div>
  <a [routerLink]="['../../']" class = "back-button"> <button>Back to calendar</button></a>
  <a [routerLink]="['./newEvent']" class = "add-button" > <button>Add new event</button></a>
</div>
