.event-add-form{
    max-width: 400px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #bbded6;
    box-shadow: 2px 2px 2px 2px #616161;
    align-items: center;
    position: relative;
    .event-add-form__title{
        font-size: 30px;
    }
    .event-add-form__label{
        width: 300px;
        position: relative;
        height: 40px;
        .form-input{
            position:absolute;
            right: 0px;
            margin: 0px 5px;
            height: 30px;
            width: 180px;
        }
        .event-add-form__time-to,
        .event-add-form__time-from {
            width: 90px;
        }
    
        .form-textarea{
            position:absolute;
            right: 0px;
            width: 180px;
            margin: 0 5px;
        }
    }
    .textarea{
        height: 70px;
    }
    .event-add-form__percipitians-list-item{
        width: 300px;
    }
    .event-add-form__percipitians-list{
        padding: 0px;
        position: relative;
       .event-add-form__percipitians-list-item{
             margin-top:5px;
             height: 30px;
             display: flex;
             justify-content: space-between;
             align-items: center;
        }
        .event-add-form__percipitians-delete-button{
           right: 0px;
           height: 100%;
        }
        
    }
    .event-add-form__registrated-users{
        .event-add-form__registrated-users-list{
            height: 100px;
            width: 250px;
            .event-add-form__registrated-users-list-item{
                font-size: 15px;
            }
        }

    }

    .event-add-form__priority-form-radiobuttons{
        display:flex;
        .event-add-form__priority-form-radiobuttons-label{
            margin: 0px 20px;
        }
    }
    
    .event-add-form__button-block{
        margin: 20px;
        .event-add-form__button-submit,
        .event-add-form__button-back{
            margin: 0 10px;
        }
    }
    .event-add-form__event-edited-message_invisible{
        display: none;
        justify-content: center;
        align-items: center;
        position:absolute;
        height:100%;
        width:100%;
        background-color: rgba(255,255,255,0.7);
    }

    .show{
        display: flex;
        animation-duration: 1s, 1s;
        animation-name: fadeIn, fadeOut;
        animation-delay: 0s, 1s;
    }

    
    @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
   }
   
   @keyframes fadeOut{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
   }

   .uncorrect{
    background-color: #ffa5a9;
    animation-duration: 0.5s;
    animation-name: fade;
  }
  
  @keyframes fade{
    from{
      background-color: white;
    }
    to{
      background-color: #ffa5a9;
    }
  }

}