<div class="form-group2">
  <div class = 'addMessage' 
  [class.show] = "addedMessage === true">
    <h2>Event Added</h2>
  </div>  


  <h2>Add New Event</h2>
  <label>Time From
    <input
    type = "time"
    [(ngModel)]= "timeFrom"
    #timeFromInput = "ngModel"
    required>
  </label>

  <label>Time To
     <input 
     type = "time"
     class="timeTo"
     [(ngModel)]= "timeTo"
     #timeToInput = 'ngModel'
     [class.uncorrect] = "timeToInput.touched && timeToInput.invalid"
     required>
   </label>

  <label>Title 
    <input
    type = "text"
    class="title"
    #titleInput ="ngModel"
    [(ngModel)]= "title"
    [class.uncorrect] = "titleInput.touched && titleInput.invalid"
    maxlength = "32"
    required
    >
  </label>

  <label>Comment 
    <textarea class="title" 
    rows = "4"
    [(ngModel)]= "comment"
    required>
    </textarea>
  </label>

  <div class="tooked-part-users-list">
    <h2>Invented users</h2>
    <ul class="invented-users-list">
      <li *ngFor = "let item of iventedUsers; index as i">{{item.name}} ({{item.email}})<button class="delete-button" (click) = "preDeleteUser(item)">X</button></li>
    </ul>
  </div>

  <form action="formdata" method="post" name="participants-list">
    <h2>Select participants</h2>
    <p>
    <select name="list1" multiple>
         <option *ngFor="let item of registratedUsers; index as i" (click) = "preAdd(i)">{{item.name}} ({{item.email}})</option>
    </select></p>
    <button (click)="sendInventedUsers()">Send</button>
  </form>
   
  
  <h3>Priority</h3>
  <div class = "priority-radiobuttons">
    <label>High
      <input
      type = "radio"
      name="priority"
      value="high"
      [(ngModel)]= "priority">
    </label>
    
    <label>Normal
      <input type = "radio"
      name="priority"
      value="normal"
      [(ngModel)]= "priority"
      >
    </label>
    
    <label>Low
      <input
      type = "radio"
      name="priority"
      value="low"
      [(ngModel)]= "priority">
    </label>
  </div>
  
  <div class = "button-block">
  <button type="submit"
  class="submit"
  (click)="onClick()"
  [disabled]="timeFromInput.invalid || timeToInput.invalid || titleInput.invalid">
  Add
  </button>
  <button class="back" (click)="goBack()">Back</button>
  </div>  
</div>  


