<form [formGroup]="profileForm">
  
    <h1 class="event-title">New Event To</h1>
    
    <label class="time-from">Time from:
      <input required 
       name="name"
       type="time"
       formControlName="timeFrom" 
       [value] ="dataForForm.timeFrom"
       minlength="4">
    </label>
    
    <label class = "time-to" for="timeTo">Time to:
      <input required
      type="time"
      id="timeTo"
      formControlName="timeTo">
    </label>
    
    <label for="title" class="title">Title:
      <input required
      id="title"
      type="text"
      formControlName="title"
      maxlength="35">
    </label>
  
    <label for="comment" class="comment">Comment:
      <textarea formControlName="comment"
      rows="5"></textarea>
    </label>
    
    <h3>Priority</h3>
    <div class="priority-buttons-block">
      <label for="contactChoice1">
      <input
        type="radio"
        value="high"
        name = "priority"
        formControlName="priority"
        [checked] = "dataForForm.priority==='high'"
        />
     High</label>
  
      <label for="normal"> 
      <input
        type="radio"
        value="normal"
        name = "priority"
        formControlName="priority">
       Normal</label>
  
      <label for="low">
      <input
        type="radio"
        value="low"
        name = "priority"
        formControlName="priority"
        [checked] = "dataForForm.priority==='low'"
        />
      Low</label>
    </div>
    <div class="form-button-block">
      <button value="Save" (click)="addEvent()">Save</button>
      <button [routerLink]="['../']">Back</button>
    </div>  
  </form>